<app-loader *ngIf="isLoading()"></app-loader>
<div *ngIf=" ! isLoading()">
  <div *ngIf="noCompetitionToday() ; else todaysCompetition" class="min-h-screen pt-20">
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-center gap-5">
        <section class="px-2">
          <div class="text-center">
            <h1 class="text-4xl font-extrabold text-gray-900">Oops No Fishing today</h1>
            <p class="mt-3 text-lg text-gray-500">Upcoming Competition in {{getClosestCompetitionDifferenceDays()}}</p>
          </div>
        </section>
        <section class="px-2">
          <img class="h-44 w-44" src="./assets/img/sadfish.png">
        </section>
      </div>
    </div>
  </div>
  <ng-template #todaysCompetition>
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-center gap-5">
        <section class="px-2">
          <div class="text-center">
            <h1 class="text-4xl font-extrabold text-gray-900">Today's Competition</h1>
            <div class="px-6 py-4" [ngSwitch]="competitionService.compareCompetitionToCurrentDateTime(currentDate,upcomingCompetitions[0].date || this.currentDate.toLocaleDateString() , upcomingCompetitions[0].startTime || currentDate.toLocaleTimeString(),upcomingCompetitions[0].endTime || currentDate.toLocaleTimeString())">
                  <span *ngSwitchCase="'Coming soon'" class="px-2 py-1 font-semibold leading-tight text-yellow-700 bg-yellow-100 rounded-full dark:bg-yellow-700 dark:text-yellow-100">
                      Starting Soon
                  </span>
              <span *ngSwitchCase="'Passed'" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100">
                      Passed
                  </span>
              <span *ngSwitchCase="'Active'" class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                      Active
                  </span>
            </div>
            <p class="mt-3 text-lg text-gray-500">Code : <small class="font-medium">{{upcomingCompetitions[0].code}}</small></p>
            <p class="mt-3 text-lg text-gray-500">Location : <small  class="font-medium">{{upcomingCompetitions[0].location}}</small></p>
            <p class="mt-3 text-lg text-gray-500">Participants : <small  class="font-medium">{{upcomingCompetitions[0].numberOfParticipants}}</small></p>
            <p class="mt-3 text-lg text-gray-500">Date : <small class="font-medium">{{upcomingCompetitions[0].date | date:'EEEE, MMMM d, y'}}</small></p>
            <p class="mt-3 text-lg text-gray-500">Starts at : <small class="font-medium">{{upcomingCompetitions[0].startTime }}</small></p>
            <p class="mt-3 text-lg text-gray-500">Ends at : <small class="font-medium">{{upcomingCompetitions[0].endTime }}</small></p>
          </div>
        </section>
        <section class="px-2">
          <img class="h-44 w-44" src="./assets/img/happyfish.png">
        </section>
      </div>
    </div>
    <div class="flex justify-between">
      <h2 class="text-3xl">Real Time Score</h2>
      <div class="flex items-center gap-2">
        <div [ngSwitch]="competitionService.compareCompetitionToCurrentDateTime(currentDate,upcomingCompetitions[0].date || this.currentDate.toLocaleDateString() , upcomingCompetitions[0].startTime || currentDate.toLocaleTimeString(),upcomingCompetitions[0].endTime || currentDate.toLocaleTimeString())">
          <button *ngSwitchCase="'Active'" data-modal-target="hunt-modal" data-modal-toggle="hunt-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Add Hunt
          </button>
          <button (click)="getRankings()" *ngSwitchCase="'Passed'" data-modal-target="extralarge-modal" data-modal-toggle="extralarge-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Rankigs
          </button>
        </div>
        <button (click)="refreshScore()" class="relative inline-flex items-center justify-center p-0.5  overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <span  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Refresh Score
            </span>
        </button>
      </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 my-2">
        <caption class="hidden">Table for all real Time Score</caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Number
          </th>
          <th scope="col" class="px-6 py-3">
            First Name
          </th>
          <th scope="col" class="px-6 py-3">
            Last Name
          </th>
          <th scope="col" class="px-6 py-3">
            Score
          </th>
        </tr>
        </thead>
        <tr *ngIf="competitionRealTimeScore.length == 0; else realTimeScore" class="text-2xl text-center">
          <td colspan="4" class="py-5">
            No scores yet
          </td>
        </tr>
        <ng-template #realTimeScore>
          <tr *ngFor="let memberScore of competitionRealTimeScore" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ memberScore.num}}
            </th>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ memberScore.firstName}}
            </th>
            <td class="px-6 py-4">
              {{memberScore.lastName}}
            </td>
            <td class="px-6 py-4">
              {{memberScore.score}}
            </td>
          </tr>
        </ng-template>
      </table>
    </div>

    <div id="hunt-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
              Add member
            </h3>
            <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="hunt-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5">
            <form class="space-y-4" action="#">
              <h4 >Personal Information</h4>
              <div>
                <label for="member" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User</label>
                <select [(ngModel)]="newHunt.memberId" name="member" id="member" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option *ngFor="let member of competitionMembers" [value]="member.id" >{{member.lastName?.toLocaleUpperCase()}} - {{member.num}}</option>
                </select>
              </div>
              <div>
                <label for="fish" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fish</label>
                <select [(ngModel)]="newHunt.fish.name" name="fish" id="fish" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option *ngFor="let fish of fishes" [value]="fish.name" >{{fish.name}} | avg weight ~ {{fish.averageWeight}}</option>
                </select>
              </div>
              <div>
                <label for="weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Weight</label>
                <input [(ngModel)]="newHunt.fish.weight" type="number" name="weight" id="weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Doe" required>
              </div>
              <button (click)="this.addHunt()" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-modal-hide="hunt-modal">Add member</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<div id="extralarge-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 w-screen h-screen">
  <div class="relative w-full h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">
          Competition Rankings
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="extralarge-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <app-loader *ngIf="competitionRankings.length == 0; else ranking"></app-loader>
      <ng-template #ranking>
        <div class="p-4 md:p-5 space-y-4 text-center">
          <img class="h-44 w-44 my-2 mx-auto" src="assets/img/cup.jpg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 my-2">
            <caption class="hidden">Table for all real Time Score</caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Rank
              </th>
              <th scope="col" class="px-6 py-3">
                Score
              </th>
              <th scope="col" class="px-6 py-3">
                Number
              </th>
              <th scope="col" class="px-6 py-3">
                First Name
              </th>
              <th scope="col" class="px-6 py-3">
                Last Name
              </th>
              <th scope="col" class="px-6 py-3">
                Nationality
              </th>
            </tr>
            </thead>
              <tr *ngFor="let rank of competitionRankings" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ rank.rank}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ rank.score}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ rank.num}}
                </th>
                <td class="px-6 py-4">
                  {{rank.firstName}}
                </td>
                <td class="px-6 py-4">
                  {{rank.lastName}}
                </td>
                <td class="px-6 py-4">
                  {{rank.nationality}}
                </td>
              </tr>
          </table>
        </div>
      </ng-template>
      <div class="flex items-center p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
        <button data-modal-hide="extralarge-modal" type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
      </div>
    </div>
  </div>
</div>





